[package]
name = "elfo-network"
version = "0.1.0"
description = "Distributed actors for elfo"
authors = ["Paul Loyd <pavelko95@gmail.com>"]
edition = "2018"
license = "MIT"

[dependencies]
elfo-core = { version = "0.2.0-alpha.0", path = "../elfo-core", features = ["unstable", "network"] }
elfo-utils = { version = "0.2.2", path = "../elfo-utils" }

serde = { version = "1.0.120", features = ["derive"] }
static_assertions = "1.1.0"
eyre = "0.6.8"
fxhash = "0.2.1"
futures = "0.3.21"
tokio = { version = "1.19.2", features = ["net"] }
tokio-util = { version = "0.7.3", features = ["codec"] }
bytes = "1.1.0"
tracing = "0.1.25"
parking_lot = "0.12"
derive_more = "0.99.11"
quanta = "0.11"
humantime-serde = "1"
kanal = "0.1.0-pre8"
dashmap = "5"
futures-intrusive = "0.5"
metrics = "0.17"
bitflags = "2.3.2"
lz4_flex = "0.11.1"
byteorder = "1.4.3"

[dev-dependencies]
tracing-test = "0.2.4"