[package]
name = "elfo-core"
version = "0.1.34"
description = "The core of the system"
authors = ["Paul Loyd <pavelko95@gmail.com>"]
edition = "2018"
license = "MIT"

[features]
test-util = ["tokio/test-util"]
unstable = []
unstable-stuck-detection = ["dep:thread_local"]

[dependencies]
elfo-macros = { version = "0.1.14", path = "../elfo-macros" }
elfo-utils = { version = "0.2.0", path = "../elfo-utils" }

tokio = { version = "1.16", features = ["rt", "sync", "time", "signal", "macros"] }
tokio-util = "0.6.7"
sharded-slab = "0.1.1"
futures-intrusive = "0.4.0"
parking_lot = "0.11.1"
smallbox = "0.8.0"
# TODO: avoid the `rc` feature here?
serde = { version = "1.0.120", features = ["derive", "rc"] }
derive_more = "0.99.11"
tracing = "0.1.25"
tracing-subscriber = { version = "0.3.2", default-features = false, features = ["std", "smallvec"] }
metrics = "0.17"
quanta = "0.9.2"
futures = "0.3.12"
static_assertions = "1.1.0"
dashmap = "4.0.2"
fxhash = "0.2.1"
linkme = "0.2.4"
smallvec = { version = "1.6.1", features = ["union"] }
slotmap = "1.0.2"
serde-value = "0.7.0"
arc-swap = "1.2.0"
erased-serde = "0.3.16"
pin-project = "1.0.8"
sealed = "0.3.0"
stability = "0.1.1"
once_cell = { version = "1.8.0", features = ["parking_lot"] }
serde_json = { version = "1.0.64", features = ["raw_value"] }
regex = "1.6.0"
thread_local = { version = "1.1.3", optional = true }

[dev-dependencies]
anyhow = "1.0.40"
libc = "0.2.97"
tokio = { version = "1", features = ["full"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
