[package]
name = "elfo-examples"
version = "0.0.0"
publish = false

repository.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true

[dev-dependencies]
elfo = { path = "../elfo", features = ["full", "network", "test-util"] }

anyhow = "1.0.40"
futures = "0.3.12"
tokio = { version = "1", features = ["full"] }
serde = { version = "1.0.120", features = ["derive"] }
derive_more = "0.99.11"
metrics = "0.17"
humantime-serde = "1"
tracing = "0.1.25"
toml = "0.7"
