[package]
name = "elfo"
version = "0.2.0-alpha.12"
description = "Your next actor system"
keywords = ["elfo", "actor", "distributed", "tokio"]

repository.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true

[[test]]
name = "msg_macro"
path = "tests/msg_macro.rs"
required-features = ["test-util"]

[[bench]]
name = "round_trip"
harness = false
required-features = ["full"]

[features]
full = ["elfo-configurer", "elfo-logger", "elfo-dumper", "elfo-telemeter", "elfo-pinger"]
test-util = ["elfo-test", "elfo-core/test-util"]
network = ["elfo-network"]
unstable = ["elfo-core/unstable", "elfo-telemeter/unstable" ]
unstable-stuck-detection = ["elfo-core/unstable-stuck-detection"]
tracing-log = ["elfo-logger/tracing-log"]

[dependencies]
elfo-core = { version = "0.2.0-alpha.12", path = "../elfo-core" }
elfo-macros = { version = "0.2.0-alpha.12", path = "../elfo-macros" }
elfo-test = { version = "0.2.0-alpha.12", path = "../elfo-test", optional = true }
elfo-configurer = { version = "0.2.0-alpha.12", path = "../elfo-configurer", optional = true }
elfo-logger = { version = "0.2.0-alpha.12", path = "../elfo-logger", optional = true }
elfo-telemeter = { version = "0.2.0-alpha.12", path = "../elfo-telemeter", optional = true }
elfo-dumper = { version = "0.2.0-alpha.12", path = "../elfo-dumper", optional = true }
elfo-pinger = { version = "0.2.0-alpha.12", path = "../elfo-pinger", optional = true }
elfo-network = { version = "0.2.0-alpha.12", path = "../elfo-network", optional = true }

[dev-dependencies]
elfo-test = { version = "0.2.0-alpha.12", path = "../elfo-test" }

anyhow = "1.0.38"
futures = "0.3.12"
derive_more = "0.99.11"
tokio = { version = "1", features = ["full"] }
tracing = "0.1.25"
metrics = "0.17"
tracing-subscriber = "0.3"
serde = { version = "1.0.120", features = ["derive"] }
toml = "0.7"
humantime-serde = "1"
criterion = "0.5.1"
static_assertions = "1.1.0"
parking_lot = "0.12"
libc = "0.2.97"
futures-intrusive = "0.5"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
